<header>
  <img src="quiz logo" class="logo" />
  <h1>Quiz App</h1>

  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a class="nav-register" href="/register">Register</a></li>
      <li><a class="nav-login" href="/login">Login</a></li>

      <li><a class="nav-results" href="/results">My Results</a></li>
      <li><a class="nav-quizzes" href="/quizzes">My Quizzes</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
