body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: pink;

  .question-creation {
    margin-top: 2rem;
  }

  #add-question-btn {
    margin-left: 30rem;
    color: darkorchid
  }

  .emsg {
    background-color: #faa9a9;
    border-color: #410303;
    border-style: dotted;
    border-width: 3px;
    color: #410303;
    padding: 2px;
  }
}
