/********************************************************************
HOMEPAGE CSS
********************************************************************/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100%;
  min-height: 100vh;
background-color: #87aaad;
background-image: url("https://www.transparenttextures.com/patterns/vintage-speckles.png");
}

#main_content {
  margin-top: 50px;
  width: 90%;
}


