$font: 'Comfortaa', cursive;
$background-colour: #a187bb;
$background-img: url("https://www.transparenttextures.com/patterns/vintage-speckles.png");
$text-colour: rgb(77, 80, 86);
$button-colour: rgba(153, 42, 226, 0.85);

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $background-colour;
  background-image: $background-img;
}

#main_content {
  font-family: "Comfortaa", cursive;
  color: $text-colour;
}

.question-creation {
  margin-top: 2rem;
}

.btn-dark {
  background-color: $button-colour;
  border-color: $button-colour;
}

#add-question-btn {
  margin-left: 30rem;
  color: darkorchid;
}
