$font: 'Comfortaa', cursive;
$border: 1px solid rgb(77, 80, 86);
$border-radius: 5px;
$border-radius-q: 3px;
$box-background: rgba(195, 72, 217, 0.48);
$text-colour: rgb(51, 52, 55);
$button-colour: rgba(153, 42, 226, 0.85);
$background-colour: #a187bb;
$background-img: url("https://www.transparenttextures.com/patterns/vintage-speckles.png");
$button-font-colour: white;


body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // width: 100%;
  min-height: 100vh;
background-color: $background-colour;
background-image: $background-img
}

form {
  font: 100% $font;
  width: 90%;
  margin-top: 6rem;
  color: $text-colour;
  font-weight: bold;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: center;
  border: $border;
  border-radius: $border-radius;
  background: $box-background;
  padding: 3%;
}

.description {
  display: flex;
  justify-content: center;
  border: $border;
  border-radius: $border-radius;
  background: $box-background;
  padding: 2%;
}

.question {
  display: flex;
  flex-direction: column;
  border: $border;
  border-radius: $border-radius-q;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  background: $box-background
}

.radio {
display: inline-block;
}

.button {
  display: flex;
  justify-content: center;
  background: $button-colour;
  margin-top: 50px;
  color: $button-font-colour
}

.button:hover {
  box-shadow: 0 0 11px rgb(66, 68, 72);
  cursor: pointer;
}

.fa-regular {
  margin-left: 5px;
}

.buttonHolder {
  display: flex;
  justify-content: center;
}
